body, html {
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background-color: #f6eded;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;

    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
}
*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

#container {
    width: 1060px;
    max-width:1060px;
    margin:auto;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    min-height: 200px;
    color: white;
    -webkit-box-shadow: 0px 14px 15px 0px rgba(231,219,219,0.94); 
    box-shadow: 0px 14px 15px 0px rgba(231,219,219,0.94);
    position: relative;
    display: flex;
    align-content: stretch;
}

#closeButton {
    position: absolute;
    color: black;
    right: 20px;
    top:30px;
}

#closeButton svg {
    stroke: #94bbc7;
    cursor: pointer;
    transition: all .3s ease;
}

#closeButton svg:hover {
    fill: #fff;
    stroke: #FFF;
}

.left {
    padding: 60px 80px;
    max-width: 60%;
    color: black;
    flex-grow: 1;
    font-size: 16px;
}

.right { 
    width:40%; 
    background: url(https://images.unsplash.com/photo-1559056961-1f4dbbf9d36a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGxvZ2lufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat top center;
    transition: all .1s ease-in-out;
}

h1 {
    font-size: 28px;
}

::placeholder {
    font-size:18px;
}

a, a.visited {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #1a5d7b;
}

.next {
    float: right;
    padding: 20px 40px;
    background-color: #1a5d7b;
    color: white;
    border:none;
    border-radius: 4px;
    font-size: 18px;
    -webkit-box-shadow: 0px 14px 15px 0px rgba(26,93,123,0.31); 
    box-shadow: 0px 14px 15px 0px rgba(26,93,123,0.31);
    cursor: pointer;
    transition: all .3s ease;

}

.next:hover {
    background-color: #94bbc7;
    color: #fff;
}

hr {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border:1px solid #e1e8ef;
    color: transparent;
    height: 1px;
}

small {
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type=text] {
    padding:26px; 
    border-radius:4px; 
    border:1px solid #c5d2e0; 
    width: 100%;
}

.socialLogin {
    display: flex;
    gap: 40px;
}

.socialLogin > div {
    width: 50%;
    text-align: center;
    border: 1px solid #c5d2e0;
    border-radius: 4px;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.socialLogin > div:hover {
    -webkit-box-shadow: 0px 14px 15px 0px rgba(26,93,123,0.10); 
    box-shadow: 0px 14px 15px 0px rgba(26,93,123,0.10);
   
}

svg {
    vertical-align: middle;
    margin-right: 10px;
}

@media only screen and (max-width: 730px) { 
    .right {
        display: none;
    }

    .left {
        width: 100%;
        max-width: 100%;
    }
}